$default-font: Ubuntu-Regular, sans-serif
$font-size: 14
$color-000: #000000
$color-fff: #ffffff
$color-a5a: #a5a5a5
$color-44e: #26c44e
$color-74b: #ffb74b

// main colors
$color-main: #2f495e
$color-error: #9e1616

$color-second: #2c3e50
$color-third: #1c2b38

$color-green: #00c58e
$color-orange: #c28326