.bg-000
    background: #000000
.bg-fff
    background: #ffffff
.bg-a5a
    background: #a5a5a5
.bg-44e
    background: #26c44e
.bg-74b
    background: $color-74b

// main colors
.bg-main
    background: #164c9e
.bg-error
    background: #9e1616