.admin
    &Nav 
        &-link
            font-family: Ubuntu-Medium, sans-serif
            font-size: rem(14)
            color: $color-main
            transition: .2s
            &:hover
                text-decoration: none
            &:not(:last-child)
                margin-bottom: 5px
                