.author
    background: $color-main
    border-radius: 8px
    box-shadow: 0 0 4px $color-000
    padding: 10px

    &Name
        color: $color-44e
        font-size: rem(50)
        text-align: center
        text-transform: uppercase
        margin-bottom: 0

    &Text
        color: $color-fff
        margin-bottom: 0
        font-size: rem(15)

#authorModal
    .modal-header
        align-items: center
        .modal-title
            text-align: center
            font-size: rem(30)
    .authorModal__list
        padding: 0
        margin: 0
        list-style: none
        display: flex
        align-items: center
        justify-content: center
        li
            &:not(:last-child)
                margin-right: 40px
            &:hover
                a
                    svg
                        opacity: 0.6
            a
                svg
                    transition: opacity .2s ease-in-out
                    color: $color-000
            

