// Single page of card
.cardPage
    color: $color-fff
    .cardPage
        &__image
            img
                display: flex
                margin: 0 auto
        &__title
            margin-bottom: 0
        &__subtitle
            font-family: Ubuntu-Medium, sans-serif
            font-size: rem(12)
        &__desc
            font-family: Ubuntu-Light, sans-serif
            font-size: rem(16)
            margin-bottom: 60px
        &__created, &__modified
            font-family: Ubuntu-Light, sans-serif
            display: flex
            justify-content: flex-end
    
// Index page list of cards
.cardItem
    height: 250px
    display: block
    box-shadow: 0 0 10px $color-third
    position: relative
    &:hover
        .cardItem__image
            &::after
                transition: background .3s linear
                background: rgba(165, 165, 165, .7)
        .cardItem__content
            transition: opacity .3s linear
            opacity: 1
            box-shadow: 0 0 12px $color-green

    .cardItem__image
        display: inline-block
        width: 100%
        height: 100%
        position: relative
        &::after
            position: absolute
            content: ""
            width: 100%
            height: 100%
            top: 0
            left: 0
            transition: background .3s linear
            background: transparent
        img
            display: inline-block
            border-radius: 8px 0 8px 0
            width: 100%
            height: 100%
            object-fit: cover

    .cardItem__content
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background: $color-main
        width: 200px
        min-height: 200px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        text-align: center
        border-radius: 12px
        transition: opacity .3s linear
        opacity: 0
        h4
            color: $color-fff
            font-size: rem(18)
        span
            display: block
            color: $color-fff
            font-size: rem(10)