.footer
    text-align: center
    margin-top: auto
    margin-bottom: 10px
    background: $color-main
    border-radius: 8px
    box-shadow: 0 0 4px $color-000
    padding: 10px 0
    &Copyright
        a
            transition: .2s
            &:hover
                text-decoration: none
                color: $color-000

