.users
    border: 1px solid $color-fff
    border-radius: 0 8px 0 8px
    padding: 25px 15px
    .usersHead
        color: $color-fff
        text-align: center
        font-size: rem(16)
        padding: 10px
        border-bottom: 1px solid $color-fff
    .usersInfo
        color: $color-a5a
        text-align: center
        font-size: rem(14)
        &.default, &.admin, &.owner
            color: $color-fff
            border-radius: 12px
            padding: 2px
        &.default
            background: $color-main
        &.admin
            background: $color-error
        &.owner
            background: $color-green

@media screen and ( max-width:  575px)
    .users
        padding: 10px
        .usersHead, .usersInfo
            font-size: rem(11)